In [1]:
#variables(Değişkenler)

In [2]:
x = 5

In [3]:
y = 4

In [4]:
x*y

20

In [5]:
x = 6

In [6]:
x*y

24

In [7]:
y*10

40

In [ ]:
#integer & float & string

In [8]:
my_variable = 10
my_other_variable = 20

In [9]:
my_variable + my_other_variable

30

In [10]:
type(my_variable)

int

In [12]:
result = my_other_variable/my_variable

In [13]:
result

2.0

In [14]:
type(result)

float

In [15]:
a = 3
b = 2
a/b

1.5

In [16]:
pi = 3.14

In [17]:
type(pi)

float

In [18]:
a = 5

In [19]:
type(a)

int

In [20]:
a + pi

8.14

In [21]:
a / pi

1.592356687898089

In [25]:
#mathematical operations

In [26]:
x = 5
y = 3

In [27]:
x * y * 10

150

In [28]:
x * x * x

125

In [29]:
x ** 4

625

In [30]:
#remainder = kalanını bulmak

In [31]:
10 % 2

0

In [32]:
15 % 3

0

In [33]:
11 % 5

1

In [35]:
kullanicininYasi = 10

In [36]:
# camelCase snake_case

In [37]:
kullanicininYasi * 5 / 3

16.666666666666668

In [40]:
kullanicininYasi = input("yaşınızı giriniz: ")

yaşınızı giriniz: 50

In [41]:
kullanicininYasi

'50'

In [42]:
type(kullanicininYasi)

str

In [43]:
kullanicininYasi * 4

'50505050'

In [44]:
#string

In [51]:
"hello world"

'hello world'

In [52]:
x = " world"

In [53]:
x = 10

In [54]:
x = "hello"

In [55]:
type(x)

str

In [57]:
y = "new string"

In [58]:
type(y)

str

In [59]:
a = 5

In [61]:
y.capitalize() #büyük harfle başlayan demek

'New string'

In [63]:
y.split() #böl, boşlukları atıyor

['new', 'string']

In [64]:
my_string = "nur türkaslan"

In [65]:
my_string * 4

'nur türkaslannur türkaslannur türkaslannur türkaslan'

In [66]:
my_input = input("yaşınızı giriniz: ")

yaşınızı giriniz: 23

In [67]:
type(my_input)

str

In [68]:
my_int_input = int(my_input)

In [69]:
my_int_input

23

In [70]:
my_int_input + 5 * 1

28

In [71]:
k = "Türkaslan"

In [72]:
len(k) #uzunluk, string kaç karakterden oluşuyor

9

In [73]:
print("hello python")

hello python

In [75]:
print("hello  \npython") #new line yeni satır anlamına gelir.

hello
python

In [76]:
#slicing (kesmek)

In [82]:
name_string = "Nur Türkaslan"

In [83]:
name_string

'Nur Türkaslan'

In [84]:
#index

In [85]:
name_string[0]

'N'

In [86]:
name_string[7]

'k'

In [88]:
name_string[-1]

'n'

In [89]:
name_string[0] + name_string[-1]

'Nn'

In [90]:
new_string = "1023456789"

In [91]:
new_string[2:]

'23456789'

In [92]:
letter_string = "abcdefg"

In [93]:
letter_string[2:]

'cdefg'

In [94]:
letter_string[3:]

'defg'

In [95]:
letter_string[:3]

'abc'

In [96]:
gelen_data = "AhmetinYasi65"

In [97]:
gelen_data[-2:]

'65'

In [98]:
gelen_data[2:4] #start index-stop index

'me'

In [99]:
#step Size

In [100]:
gelen_data[1:2] #0 dan başlar 1 dahil 3 dahil değil

'h'

In [101]:
gelen_data[::] #stringin kendisini yazdırma

'AhmetinYasi65'

In [102]:
gelen_data[::2] #2 atlayarak yazdırma

'Amtnai5'

In [103]:
gelen_data[::3] #3 atlayarak yazdırma

'Aens5'

In [105]:
gelen_data[::-1] #tersten yazdırma

'56isaYnitemhA'

In [109]:
my_name = "nur"

In [110]:
my_name.capitalize()

'Nur'

In [111]:
my_name

'nur'

In [112]:
mynew_name = my_name.capitalize()

In [113]:
mynew_name

'Nur'

In [114]:
my_name

'nur'

In [115]:
myFullName = "Nur Türkaslan"

In [116]:
myFullName.split()

['Nur', 'Türkaslan']

In [117]:
type(myFullName.split())

list

In [119]:
lists = myFullName.split()

In [120]:
lists[0]

'Nur'

In [121]:
lists[1]

'Türkaslan'

In [122]:
myFullName.upper() #tüm karakterleri büyük yazar

'NUR TÜRKASLAN'

In [124]:
my_name = "Nur"
my_surname = "Türkaslan"
my_name + " " + my_surname

'Nur Türkaslan'

In [125]:
j = "5"
k = "10"
j + k

'510'