In [1]:
import numpy as np
import pandas as pd

In [3]:
#Seriler(Series)

In [4]:
#numpy dizisinin üzerine işlenmiş yapılar diyebiliriz.
#verilere anahtar kelime atayabiliriz.
#excel ile çalışıyormuşuz hissi verir
#veri manüpüle için pandas ve serileri kullanıyoruz.
#serileri numpy dizilerinden, sözlüklerden, listelerden birçok şeyden oluşturabilirim

In [5]:
benimSozlugum = {"Nur": 23, "Atıl": 33, "Zeynep": 40, "Mehmet": 30}
benimSozlugum

{'Nur': 23, 'Atıl': 33, 'Zeynep': 40, 'Mehmet': 30}

In [6]:
pd.Series(benimSozlugum)

Nur       23
Atıl      33
Zeynep    40
Mehmet    30
dtype: int64

In [8]:
type(pd.Series(benimSozlugum))

pandas.core.series.Series

In [9]:
benimYaslarim = [23,33,40,50] #asıl verimiz bu
benimİsimlerim = ["Nur", "Atıl", "Zeynep", "Mehmet"]

In [11]:
pd.Series(benimYaslarim)

0    23
1    33
2    40
3    50
dtype: int64

In [12]:
pd.Series(benimYaslarim, benimİsimlerim)

Nur       23
Atıl      33
Zeynep    40
Mehmet    50
dtype: int64

In [13]:
pd.Series(data = benimYaslarim, index = benimİsimlerim)

Nur       23
Atıl      33
Zeynep    40
Mehmet    50
dtype: int64

In [18]:
numpyDizisi = np.array([23,33,40,50])

In [19]:
numpyDizisi

array([23, 33, 40, 50])

In [20]:
pd.Series(numpyDizisi)

0    23
1    33
2    40
3    50
dtype: int32

In [21]:
pd.Series(numpyDizisi, benimİsimlerim)

Nur       23
Atıl      33
Zeynep    40
Mehmet    50
dtype: int32

In [22]:
#Series Özellikleri

In [24]:
pd.Series(["Atıl", "Nur", "Atlas"], [1,2,3])

1     Atıl
2      Nur
3    Atlas
dtype: object

In [25]:
yarismaSonucu1 = pd.Series([10,5,1],["Atıl", "Nur", "Atlas"])

In [26]:
yarismaSonucu1

Atıl     10
Nur       5
Atlas     1
dtype: int64

In [27]:
yarismaSonucu2 = pd.Series([20,10,8],["Atıl", "Nur", "Atlas"])

In [28]:
yarismaSonucu2

Atıl     20
Nur      10
Atlas     8
dtype: int64

In [31]:
yarismaSonucu2["Atlas"]

8

In [32]:
sonSonuc = yarismaSonucu1 + yarismaSonucu2
sonSonuc

Atıl     30
Nur      15
Atlas     9
dtype: int64

In [33]:
farkliSeries = pd.Series([20,30,40,50],["a","b","c","d"])
farkliSeries2 = pd.Series([10,5,3,1],["a","c","f","g"])

In [35]:
print(farkliSeries)
print(farkliSeries2)

a    20
b    30
c    40
d    50
dtype: int64
a    10
c     5
f     3
g     1
dtype: int64

In [36]:
farkliSeries + farkliSeries2 #sadece indexlerin kesiştiği yerleri topladı diğerlerine nan bastı

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64